<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StatesInformation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84F34C4B1E94386C007CA36D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F34C5F1E94386C007CA36D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F34C6A1E94386C007CA36D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
